* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* HEADER SECTION */

.header-section {
  background-color: #1f2937;
  padding: 15px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80%;
  margin: auto;
}

.links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.links a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

/* HERO */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80%;
  margin: auto;
  padding: 50px 0;
  gap: 100px;
}

.hero-text {
  width: 600px;
}

.hero-text h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
  margin-bottom: 10px;
}

.hero-text p {
  font-size: 18px;
  color: #e5e7eb;
  margin-bottom: 10px;
}

.hero-text button {
  padding: 10px;
  width: 120px;
  border-radius: 10px;
  background-color: #3882f6;
  color: #f9faf8;
  font-weight: bold;
  border: none;
}

.hero-image {
  height: 300px;
  width: 600px;
  overflow: hidden;
}

/* INFORMATION SECTION */

.information-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-top: 40px;
}

.information-title {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}

.box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.box {
  max-width: 150px;
}

.border {
  height: 150px;
  width: 150px;
  border: 3px solid #388af6;
  border-radius: 10px;
  margin-bottom: 10px;
}

.box-text {
  text-align: center;
  color: #aaacaf;
}

/* QUOTE SECTION */

.quote-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e5e7eb;
  margin-top: 40px;
  padding: 60px;
}

.quote-text {
  font-size: 36px;
  color: #1f2937;
  font-style: italic;
  width: 70%;
}

.quote-signature {
  width: 70%;
  display: flex;
  justify-content: flex-end;
  font-size: 24px;
  font-weight: bold;
}

/* ACTION SECTION */

.action-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px;
}

.action-section {
  background-color: #3882f6;
  width: 60%;
  padding: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
}

.action-text {
  color: #e5e7eb;
}

.action-text h2 {
  font-weight: bold;
}

.action-section button {
  padding: 10px;
  width: 120px;
  border-radius: 10px;
  background-color: #3882f6;
  color: #f9faf8;
  font-weight: bold;
  border: 2px solid #f9faf8;
}

/* FOOTER */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  padding: 30px;
}

.footer-text {
  color: #f9faf8;
}
