* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* HEADER SECTION */

.header-section {
  background-color: #1f2937;
  padding: 15px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80%;
  margin: auto;
}

.links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.links a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

/* HERO */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80%;
  margin: auto;
  padding: 50px 0;
  gap: 100px;
}

.hero-text {
  width: 600px;
}

.hero-text h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
  margin-bottom: 10px;
}

.hero-text p {
  font-size: 18px;
  color: #e5e7eb;
  margin-bottom: 10px;
}

.hero-text button {
  padding: 10px;
  width: 120px;
  border-radius: 10px;
  background-color: #3882f6;
  color: #f9faf8;
  font-weight: bold;
}

.hero-image {
  height: 300px;
  width: 600px;
}
